#
#   .gitignore at root
#


# IDEs & dev. enviroments
.venv/
.idea/
.vscode/
.vs/
sketch/


# Caching & DB
*/__pycache__/*
*.pyc

*.sqlite3


# Extensions
*.auto
*.log

*.out
*.exe

*.dll
*.so

*.lib
*.a

*.o
*.obj


# Migrations
src/backend/fsuy_site/migrations

src/backend/staticfiles/

scripts/env.ps1
node_modules/

# Others
*.bkp
