:root {
	--heading-scale: 1;

	--text: #000000;
	--text-2: #F0EFF4;
	--text-3: #ff0000ad;

	--bg: #F0EFF4;

	--outline: #009baf;
	--accent: #aa3bff;

	--links: #4ee9fd;
	--links-hover: #00d8f5;


	--secondary: #04534A;
	--secondary-a: #033B34;
	--secondary-b: #076A5E;
	--secondary-c: #087c6f;

	--comment-bg: var(--secondary);

	--font-text: "Quicksand", sans-serif;
	--font-title: "Castoro Titling", serif;
	--font-subtitle: "Stack Sans Text", sans-serif;

	--navbar-ul-gap: 2rem;
	--navbar-height: 5rem;

	color: var(--text);
	background: var(--bg);
	font-size: 16px;
	font-family: var(--font-text);
}

* {
  box-sizing: border-box; /* ensuring that an element's specified width and height include its padding and borders. */
  /* outline: 1px solid red; */
}

body {
	padding-top: var(--navbar-height);
	margin: 0;
}


h1, h2, h3, h4 {
	font-family: var(--font-subtitle);
}

h1 {
  font-size: calc(2rem * var(--heading-scale));
}

h2 {
  font-size: calc(1.75rem * var(--heading-scale));
}

h3 {
  font-size: calc(1.5rem * var(--heading-scale));
}

h4 {
  font-size: calc(1.25rem * var(--heading-scale));
}


a {
	all: unset;
}

a:hover {
	/* color: var(--secondary-a); */
	cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}