.news_display{
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #888;
    padding: 4px 8px;
}
