:root {
	--text: #000000;
	--bg: #F0EFF4;
	--border: #e5e4e7;
	--accent: #aa3bff;
	--links: #4ee9fd;
	--links-hover: #00d8f5;


	--secondary: #04534A;
	--secondary-a: #033B34;
	--secondary-b: #076A5E;
	--secondary-c: #087c6f;

	color: var(--text);
	background: var(--bg);
	font-size: 18px;
}

* {
  box-sizing: border-box; /* ensuring that an element's specified width and height include its padding and borders. */
  /* outline: 1px solid red; */
}

a {
	color: var(--secondary);
}

a:hover {
	color: var(--secondary-a);
}
