.games_display{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 100%;
    padding: 1.5rem;
}

#games_upper_title{
    align-self: center;
    color: var(--text-highlight);
}