main {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
}

main h1 {
    align-self: center;
    color: var(--text-highlight);
}

.user_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}