.md_field {
    border: 1px red;
    width: 50rem;
    height: 15rem;
}

.md_field button {
    height: 2rem;
    width: 4rem;
    outline: none;
    border: 3px solid #f0f8ff;
    background-color: #757575;
    color: #f0f8ff;
}
.md_field button:disabled {
    background-color: #363636;
    color: #9ba0a5;
}

#btn_edit {
    margin: 0rem 0rem 0rem 0.5rem;
    border-right: 0.1px solid #f0f8ff;
    border-radius: 5px 0px 0px 5px;
}

#btn_preview {
    margin: 0rem 0.5rem 0rem 0rem;
    border-left: 0.1px solid #f0f8ff;
    border-radius: 0px 5px 5px 0px;
}

.md_field #preview,
.md_field textarea {
    width: 100%;
    height: 100%;
    max-height: 100%;

    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;

    border: 3px solid #f0f8ff;
    resize: none;
    outline: none;
    
    border-radius: 10px;
    background-color: #1e1e1e;
}
.md_field textarea {
    color: #f0f8ff;
}

.md_field #preview {
    overflow-y: auto;
}


.md_field #preview::-webkit-scrollbar,
.md_field textarea::-webkit-scrollbar {
    width: 0.6rem;
}

.md_field #preview::-webkit-scrollbar-track,
.md_field textarea::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 20px;
}

.md_field #preview::-webkit-scrollbar-thumb,
.md_field textarea::-webkit-scrollbar-thumb {
    background-color: #727272a8;
    border-radius: 20px;
}

.md_field #preview::-webkit-scrollbar-thumb:hover,
.md_field textarea::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
    cursor: grab;
}

.md_field #preview::-webkit-scrollbar-thumb:active,
.md_field textarea::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}